html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: black;
  background: url("../images/body-bg.jpg") repeat 0 0;
  position: relative;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0;
  color: #444f79;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

a {
  -webkit-transition: all 250ms ease;
          transition: all 250ms ease;
}
a:hover, a:focus {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}
p strong {
  color: #444f79;
}
p strong span {
  display: block;
}

img {
  max-width: 100%;
}

.table-lar {
  position: relative;
  border: 2px solid #444f79;
  background-color: white;
  padding: 0px 0 20px;
  margin-bottom: 30px;
}
.table-lar .btn {
  float: right;
  margin-right: 15px;
}
.table-lar header {
  background: #f9f9f9;
  padding: 10px 15px;
  border-bottom: 20px solid #e1e1e1;
}
.table-lar header h3 {
  margin: 0;
  text-transform: capitalize;
  color: #94d60a;
}
.table-lar .subtitle-table {
  margin: 0;
  background-color: #f9f9f9;
  padding: 15px;
  color: #94d60a;
  text-transform: capitalize;
  border-bottom: 1px solid #e1e1e1;
}
.table-lar table {
  margin: 0 15px 20px;
  width: auto;
}
.table-lar thead {
  text-transform: uppercase;
  font-size: 12px;
  color: #acacac;
  font-weight: bold;
  letter-spacing: 0;
}
.table-lar thead tr {
  border-bottom: 1px solid #e1e1e1;
}
.table-lar thead tr td:first-child {
  text-align: left;
}
.table-lar thead tr td:last-child {
  text-align: right;
}
.table-lar tbody tr {
  border-bottom: 1px solid #e1e1e1;
}
.table-lar tbody tr td:first-child {
  text-align: left;
}
.table-lar tbody tr td:last-child {
  text-align: right;
}
.table-lar tbody td {
  color: #808080;
}
.table-lar tbody td p, .table-lar tbody td h5 {
  color: #808080;
}
.table-lar tbody td h5 {
  margin: 0;
}
.table-lar tfoot tr {
  border-bottom: 1px solid #e1e1e1;
}
.table-lar tfoot tr td:first-child {
  text-align: left;
}
.table-lar tfoot tr td:last-child {
  text-align: right;
}
.table-lar tfoot td {
  color: #808080;
}
.table-lar tfoot td p, .table-lar tfoot td h5 {
  color: #808080;
}
.table-lar tfoot td h5 {
  margin: 0;
}
.table-lar .small-link {
  color: #acacac;
  font-size: 12px;
}
.table-lar .small-link:hover, .table-lar .small-link:focus {
  color: #94d60a;
}
.table-lar input {
  max-width: 80px;
  border: 1px solid #e1e1e1 !important;
}
.table-lar .field-table {
  text-align: right;
}
.table-lar .field-table .label-table {
  display: inline-block;
  letter-spacing: 0;
}

.alignright {
  float: right;
  text-align: right;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignleft.lar-caption,
.alignright.lar-caption,
.aligncenter.lar-caption {
  padding: 15px 15px 45px;
  background-color: white;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
  max-width: 378px;
}

ul, ol {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.list-socmed-header {
  margin-right: 20px;
  float: right;
  margin-top: 2px;
}
.list-socmed-header li {
  float: left;
}
.list-socmed-header a {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #94d60a;
  margin-left: 10px;
  font-size: 12px;
  overflow: hidden;
}
.list-socmed-header a:hover:before, .list-socmed-header a:focus:before {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.list-socmed-header a:hover i, .list-socmed-header a:focus i {
  color: #444f79;
}
.list-socmed-header a:before {
  position: absolute;
  content: "";
  background-color: #444f79;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 450ms;
          transition: transform 450ms;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
}
.list-socmed-header a i {
  position: relative;
  -webkit-transition: color 500ms, -webkit-transform 500ms;
          transition: color 500ms, transform 500ms;
}

.list-socmed-footer {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.list-socmed-footer ul span {
  color: #808080;
  line-height: 27px;
  height: 25px;
  float: left;
  text-transform: capitalize;
}
.list-socmed-footer ul li {
  display: inline-block;
  text-align: left;
}
.list-socmed-footer ul a {
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: relative;
  margin-left: 20px;
}

.list-socmed-share {
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 33;
}
.list-socmed-share a {
  text-align: center;
  display: inline-block;
  line-height: 25px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}

.reset-padd {
  padding-top: 0 !important;
}

.email {
  background-color: #acacac;
}
.email:hover, .email:focus {
  background-color: #868686;
}

.facebook {
  background-color: #547bbc;
}
.facebook:hover, .facebook:focus {
  background-color: #37578c;
}

.twitter {
  background-color: #78cbef;
}
.twitter:hover, .twitter:focus {
  background-color: #34b1e7;
}

.linkedin {
  background-color: #1384c7;
}
.linkedin:hover, .linkedin:focus {
  background-color: #0c5681;
}

.google-plus {
  background-color: #4b4b4b;
}
.google-plus:hover, .google-plus:focus {
  background-color: #252525;
}

.instagram {
  background-color: #00a2da;
}
.instagram:hover, .instagram:focus {
  background-color: #00698d;
}

.border-child {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("../images/borderpeople.png");
  height: 80px;
  background-size: auto 80px;
  -moz-background-size: auto 80px;
  -webkit-background-size: auto 80px;
}

.space15 {
  clear: both;
  width: 100%;
  height: 15px;
  display: block;
}

.space30 {
  clear: both;
  width: 100%;
  height: 30px;
  display: block;
}

.space45 {
  clear: both;
  width: 100%;
  height: 45px;
  display: block;
}

.space60 {
  clear: both;
  width: 100%;
  height: 60px;
  display: block;
}

.space75 {
  clear: both;
  width: 100%;
  height: 75px;
  display: block;
}

.bg-gray {
  background-color: #acacac;
}

.bg-gray-light {
  background-color: #e1e1e1;
}

.bg-white {
  background-color: white;
}

.bg-gray .header-section {
  border-bottom: 1px solid #444f79 !important;
}
.bg-gray .header-section h2 {
  color: white !important;
}
.bg-gray .subheader-section {
  color: white !important;
}

.bg-gray-lt {
  background-color: #e1e1e1;
}

.btn {
  display: inline-block;
  padding: 4px 22px;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.btn-green {
  background-color: #94d60a;
  color: white;
}
.btn-green:hover, .btn-green:focus {
  background-color: #72a508;
  color: white;
}

.btn-gray {
  background-color: #e1e1e1;
  color: white;
}
.btn-gray:hover, .btn-gray:focus {
  background-color: #4c4c4c;
  color: white;
}

.btn-l {
  padding: 12px 40px;
  letter-spacing: 0;
  font-size: 18px;
}

.centered {
  text-align: center;
  padding: 15% 0;
}
.centered .btn {
  margin: 15px;
}

input[type="text"],
input[type="email"],
input[type="site"],
textarea,
.combobox {
  border: none;
  background-color: white;
  padding: 6px;
  width: 100%;
}

.combobox option {
  display: block;
  padding: 10px 15px;
  background-color: #e1e1e1;
  color: #4c4c4c;
}
.combobox option:hover, .combobox option:focus, .combobox option:active {
  background-color: #4c4c4c;
  color: #e1e1e1;
}

.combo-box a {
  font-size: 16px;
  font-weight: bold;
  color: #444f79;
  letter-spacing: 0;
  text-transform: capitalize;
}
.combo-box a i {
  margin-left: 10px;
  font-size: 12px;
  color: #94d60a;
}
.combo-box .dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}
.combo-box .dropdown-menu a {
  display: block;
  padding: 8px 15px;
  color: #444f79;
}
.combo-box .dropdown-menu a:hover, .combo-box .dropdown-menu a:focus {
  color: #94d60a;
  background-color: transparent;
}

.combo-style {
  width: 100%;
  display: block;
}
.combo-style .dropdown-toggle {
  background-color: white;
  width: 100%;
  max-width: 100%;
  display: block;
  height: 41px;
  line-height: 41px;
  box-shadow: none !important;
  padding-left: 5px;
  padding-right: 30px;
  font-weight: normal;
  font-size: 14px;
  color: #4c4c4c;
  position: relative;
}
.combo-style .dropdown-toggle i {
  position: absolute;
  right: 0;
  top: 0;
  right: 0;
  color: #4c4c4c;
  background-color: #808080;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
}
.combo-style .dropdown-menu {
  width: 94%;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}
.combo-style .dropdown-menu li a {
  padding-left: 5px;
  font-size: 13px;
  color: #4c4c4c;
  background-color: #e1e1e1;
}
.combo-style .dropdown-menu li a:hover, .combo-style .dropdown-menu li a:focus {
  background-color: #808080;
  color: white;
}

.table-lar .form-group {
  float: right;
  max-width: 300px;
  margin-bottom: 0;
}
.table-lar .form-group .form-control {
  max-width: 100%;
}
.table-lar .form-group .dropdown-menu {
  z-index: 333;
}
.table-lar h3 {
  float: left;
  margin-top: 5px !important;
}

.wrapper-form {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 3px 5px 17px -1px rgba(0, 0, 0, 0.4);
}

form .field {
  margin-bottom: 10px;
}

.form-adopt-wrapper {
  position: relative;
  max-width: 340px;
  margin: 0 auto;
}
.form-adopt-wrapper img {
  max-width: 262px;
  margin: 0 auto;
}
.form-adopt-wrapper .logo-form {
  max-width: 170px;
  overflow: hidden;
}
@media screen and (min-width: 48em) {
  .form-adopt-wrapper .logo-form {
    margin-left: -72px;
  }
}
.form-adopt-wrapper .logo-form img {
  max-width: 100%;
}
.form-adopt-wrapper .title-form {
  margin: 0;
  margin-bottom: 15px;
  font-size: 29px;
}

.form-control {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.form-adopt {
  margin-top: 20px;
  padding: 10px;
  display: block;
  border-radius: 12px;
  background: #444f79;
  text-align: left;
  position: relative;
}
.form-adopt h3 {
  margin-top: 0;
  color: white;
}
.form-adopt .field-box {
  float: left;
  width: 70%;
  margin-right: 2%;
}
.form-adopt .submit-box {
  float: right;
  width: 28%;
}
.form-adopt .submit-box .btn {
  margin-top: 43px;
}

.form-shareexperience input[type="text"],
.form-shareexperience input[type="email"] {
  margin-bottom: 10px;
}
.form-shareexperience .label-field {
  color: #808080;
  display: block;
  margin-bottom: 5px;
}
.form-shareexperience .another-field {
  position: relative;
}
.form-shareexperience .another-field .btn {
  float: right;
}
.form-shareexperience .another-field .small-link {
  font-size: 12px;
  color: #4c4c4c;
  float: left;
}
.form-shareexperience .another-field .small-link:hover, .form-shareexperience .another-field .small-link:focus {
  color: #94d60a;
}

.form-contact .field {
  margin-bottom: 15px;
  display: block;
}
.form-contact .field input[type="text"], .form-contact .field input[type="email"], .form-contact .field input[type="site"], .form-contact .field select {
  height: 39px;
}
.form-contact .field textarea {
  height: 92px;
}
.form-contact .btn {
  margin-right: 14px;
  font-size: 21px;
  margin-top: 20px;
  float: right;
}

.form-filtering {
  position: relative;
  padding: 20px 0;
}
.form-filtering .field {
  float: left;
  width: 100px;
}

.site-header {
  position: relative;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.6);
  padding: 40px 0 38px;
  z-index: 33;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
}
.site-header .logo_new, .site-header .top-header {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
}
.site-header.sticky {
  position: fixed;
  background-color: #e1e1e1;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: none;
  padding: 13px 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  z-index: 999;
}
@media screen and (min-width: 62em) {
  .site-header {
    /*height: 110px;	
    &.sticky{
    	height: 100px;
    }*/
  }
}
.site-header .header-left {
  float: left;
}
.site-header .header-right {
  float: right;
  /*min-width: 80%;*/
  text-align: right;
}
.site-header .top-header,
.site-header .bottom-header {
  display: block;
}
.site-header .top-header {
  margin-bottom: 10px;
}

.site-main {
  position: relative;
  padding-top: 20px;
}
.site-main.no-space {
  padding: 0;
}

.site-footer {
  background-color: #e1e1e1;
  padding: 60px 0;
  padding-bottom: 120px;
  position: relative;
  z-index: 33;
}
.site-footer .footer-left {
  float: left;
  min-width: 20%;
}
.site-footer .footer-right {
  float: right;
  min-width: 80%;
}
.site-footer .logo-footer {
  width: 180px;
}

.foot-sticky {
  background-color: #c8c8c8;
  padding-top: 20px;
  padding-bottom: 12px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}
@media screen and (min-width: 62em) {
  .foot-sticky {
    text-align: left;
  }
  .foot-sticky .btn-green {
    float: right;
  }
  .foot-sticky p {
    margin-bottom: 0;
  }
}
.foot-sticky .desc {
  color: #444f79;
}
@media screen and (min-width: 62em) {
  .foot-sticky .desc {
    float: left;
    font-size: 17px;
    text-align: left;
  }
}

.section-box {
  padding: 20px 0;
}

.section-adopt {
  padding: 40px 0;
}

.section-national-second {
  position: relative;
  background: white;
  margin-top: -20px;
  padding-top: 40px;
}
.section-national-second:before {
  position: absolute;
  top: 0px;
  left: 0;
}

.section-nyc:before {
  content: url("../images/map.png");
}

.section-dallas:before {
  content: url("../images/map-dallas.png");
}

.section-sf:before {
  content: url("../images/map-sf.png");
}

.section-modern-family {
  padding: 40px 0;
}
.section-modern-family .btn {
  float: right;
  margin-right: 15px;
}

.section-quote {
  padding: 140px 0;
  text-align: center;
}

.section-panelists {
  padding: 40px 0;
}

.section-checkout {
  padding: 0 0 20px;
}
.section-checkout .header-section {
  border-bottom-color: #444f79 !important;
}
.section-checkout .header-section h2 {
  color: #4c4c4c;
}

.header-section {
  position: relative;
  border-bottom: 2px solid #94d60a;
  margin-bottom: 15px;
}
.header-section h2 {
  margin-top: 0;
  text-transform: capitalize;
  float: left;
}
.header-section .jumpto {
  float: right;
  color: #808080;
  font-size: 14px;
}
.header-section .jumpto span {
  float: left;
  display: inline-block;
  text-transform: capitalize;
}
.header-section .list-jump {
  text-align: right;
  margin-top: 10px;
}
.header-section .list-jump li {
  display: inline-block;
  margin-left: 15px;
}
.header-section .list-jump a {
  display: block;
  color: #808080;
}
.header-section .list-jump a:hover, .header-section .list-jump a:focus {
  color: #94d60a;
}

.subheader-section {
  color: #4c4c4c;
  font-size: 20px;
  letter-spacing: 0;
}

.panel-national {
  padding: 20px 0;
  margin-bottom: 30px;
}

.box-desc {
  background-color: #e1e1e1;
  padding: 10px 20px;
  margin-bottom: 15px;
  display: none;
}

.fancy-desc {
  margin-top: 15px;
  margin-bottom: 16px;
  border-top: 2px solid #94d60a;
}

.page-content {
  padding-top: 40px;
}

.page-header {
  position: relative;
  margin: 0 0 30px;
  border-bottom-width: 0;
}
.page-header h2 {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #94d60a;
}
.page-header .meta-extra {
  color: #4c4c4c;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}
.page-header .meta-extra a {
  color: #4c4c4c;
}
.page-header .meta-extra a:hover, .page-header .meta-extra a:focus {
  color: #94d60a;
}

.subpage-content {
  padding: 30px 0;
}

.innerpage-content {
  position: relative;
  padding: 30px 90px 30px;
}
.innerpage-content .alignleft {
  margin-right: 15px;
  margin-bottom: 15px;
}
.innerpage-content .aligncenter {
  margin: 0 15px 15px;
}
.innerpage-content .alignright {
  margin-left: 15px;
  margin-bottom: 15px;
}
.innerpage-content p strong {
  color: #444f79;
}

.logo {
  position: relative;
  bottom: 0;
  z-index: 2;
  max-width: 155px;
  overflow: hidden;
}
@media screen and (min-width: 45em) and (max-width: 62em) {
  .logo {
    max-width: 120px;
  }
}
@media screen and (max-width: 45em) {
  .logo {
    margin: 0 auto 30px;
  }
}

.logo_new {
  position: relative;
  bottom: 0;
  z-index: 2;
  max-width: 285px;
  overflow: hidden;
}
@media screen and (min-width: 45em) and (max-width: 62em) {
  .logo_new {
    max-width: 227px;
  }
}
@media screen and (max-width: 45em) {
  .logo_new {
    margin: 0 auto 30px;
  }
}

.main-navigation {
  font-weight: bold;
  text-transform: capitalize;
  float: right;
  border-bottom: 2px solid #94d60a;
  position: relative;
}
.main-navigation ul li {
  float: left;
  position: relative;
}
.main-navigation ul li:hover a:after, .main-navigation ul li:focus a:after, .main-navigation ul li.active a:after {
  display: block;
}
.main-navigation ul li > a {
  position: relative;
  display: block;
  padding: 2px;
  margin: 0 5px 5px;
  color: #444f79;
}
.main-navigation ul li > a:after {
  content: "";
  display: none;
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid #94d60a;
  left: 50%;
  margin-left: -15px;
}
.main-navigation ul li > ul {
  display: none;
  position: absolute;
  background-color: #e1e1e1;
  font-weight: normal;
  text-transform: capitalize;
  min-width: 215px;
  z-index: 999;
  border: 1px solid #C7C7C7;
}
.main-navigation ul li > ul li {
  display: block;
  float: none;
  text-align: left;
}
.main-navigation ul li > ul li:hover > a, .main-navigation ul li > ul li:focus > a {
  color: #94d60a;
}
.main-navigation ul li > ul li:first-child > a {
  padding-top: 15px;
}
.main-navigation ul li > ul li:first-child > a:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #e1e1e1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  border-bottom: none;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -10px;
  left: 32px;
}
.main-navigation ul li > ul li:last-child > a {
  padding-bottom: 15px;
  border: none;
}
.main-navigation ul li > ul li > a {
  position: relative;
  font-size: 0.9em;
  border-bottom: 1px solid #94d60a;
  font-weight: 700;
  padding: 7px 15px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
          transition: all 400ms ease-out;
}
.main-navigation ul li > ul li > a:after {
  display: none !important;
}
.main-navigation ul li:hover > ul {
  display: block;
}

.family-album-wrapper {
  position: relative;
  width: 100%;
}

.list-album {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.list-album .item-album {
  float: left;
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.item-album {
  position: relative;
  margin-bottom: 20px;
}
.item-album .subitem-album {
  padding: 10px;
  background-color: white;
  text-align: center;
}
.item-album .subitem-album img {
  margin: 0 auto;
}
.item-album .desc {
  text-align: left;
  padding-top: 10px;
}
.item-album .share-icon {
  text-align: center;
  display: inline-block;
  line-height: 25px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: white;
  float: right;
}
.item-album h5, .item-album span {
  text-transform: capitalize;
}
.item-album h5 {
  margin: 0;
}
.item-album h5 a {
  color: #4c4c4c;
}
.item-album h5 a:hover, .item-album h5 a:focus {
  color: #94d60a;
}

.item-contact {
  margin-bottom: 20px;
  position: relative;
}
.item-contact .alignleft {
  margin-right: 10px;
  margin-bottom: 10px;
}
.item-contact h3 {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 10px;
}
.item-contact h3 a {
  display: block;
  color: #444f79;
}
.item-contact h3 a:hover, .item-contact h3 a:focus {
  color: #94d60a;
}
.item-contact img {
  width: 75px;
}

.item-nation {
  position: relative;
  margin: 0 auto 30px;
  text-align: center;
}
.item-nation img {
  max-width: 75px;
}
.item-nation h4 {
  margin-top: 20px;
}
.item-nation h4 a {
  color: #444f79;
}
.item-nation h4 a:hover, .item-nation h4 a:focus {
  color: #94d60a;
}

.item-events {
  position: relative;
  margin-bottom: 30px;
}
.item-events .subitem-events {
  position: relative;
}
.item-events .title-events {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #94d60a;
  text-transform: capitalize;
  font-size: 26px;
}
.item-events .content-events {
  position: relative;
}
.item-events figure {
  padding: 10px;
  background-color: white;
  text-align: center;
  margin: 30px auto 0;
  max-width: 200px;
}
.item-events figure h5, .item-events figure span {
  text-align: left;
  display: block;
}
.item-events figure h5 {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.item-events .subcontent-events {
  float: left;
  width: 70%;
}
.item-events .subimg-events {
  float: left;
  width: 30%;
}
.item-events .img-icon {
  float: right;
  max-width: 86px;
}

.item-quote h2 {
  font-size: 30px;
  margin: 0;
}

.adopex-row .btn-wrap {
  text-align: center;
}
.adopex-row .btn-wrap a {
  margin-bottom: 3px;
  word-wrap: break-word;
}

.thumb-logo {
  text-align: center;
}
.thumb-logo img {
  max-width: 280px;
  margin: 0 auto;
}

.modernfamily-carousel,
.panelist-carousel,
.checkout-carousel {
  margin-bottom: 30px;
}
.modernfamily-carousel figure,
.panelist-carousel figure,
.checkout-carousel figure {
  padding: 10px;
  background-color: white;
  text-align: left;
  margin: 20px 10px 0;
  max-width: 230px;
}
.modernfamily-carousel figure h5,
.panelist-carousel figure h5,
.checkout-carousel figure h5 {
  font-size: 16px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.modernfamily-carousel figure h5 a,
.panelist-carousel figure h5 a,
.checkout-carousel figure h5 a {
  color: #4c4c4c;
}
.modernfamily-carousel figure h5 a:hover, .modernfamily-carousel figure h5 a:focus,
.panelist-carousel figure h5 a:hover,
.panelist-carousel figure h5 a:focus,
.checkout-carousel figure h5 a:hover,
.checkout-carousel figure h5 a:focus {
  color: #444f79;
}
.modernfamily-carousel .item,
.panelist-carousel .item,
.checkout-carousel .item {
  position: relative;
  z-index: 22;
}
.modernfamily-carousel .owl-controls,
.panelist-carousel .owl-controls,
.checkout-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 35%;
}
.modernfamily-carousel .owl-nav,
.panelist-carousel .owl-nav,
.checkout-carousel .owl-nav {
  position: absolute;
  width: 100%;
}
.modernfamily-carousel .owl-prev,
.modernfamily-carousel .owl-next,
.panelist-carousel .owl-prev,
.panelist-carousel .owl-next,
.checkout-carousel .owl-prev,
.checkout-carousel .owl-next {
  color: #444f79;
  font-size: 34px;
  position: absolute;
}
.modernfamily-carousel .owl-prev:hover, .modernfamily-carousel .owl-prev:focus,
.modernfamily-carousel .owl-next:hover,
.modernfamily-carousel .owl-next:focus,
.panelist-carousel .owl-prev:hover,
.panelist-carousel .owl-prev:focus,
.panelist-carousel .owl-next:hover,
.panelist-carousel .owl-next:focus,
.checkout-carousel .owl-prev:hover,
.checkout-carousel .owl-prev:focus,
.checkout-carousel .owl-next:hover,
.checkout-carousel .owl-next:focus {
  color: #4c4c4c;
}
.modernfamily-carousel .owl-prev,
.panelist-carousel .owl-prev,
.checkout-carousel .owl-prev {
  left: -30px;
}
.modernfamily-carousel .owl-next,
.panelist-carousel .owl-next,
.checkout-carousel .owl-next {
  right: -30px;
}

.map-container {
  position: relative;
  width: 550px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 62em) {
  .map-container {
    margin: 0;
  }
}
@media screen and (max-width: 62em) {
  .map-container {
    height: 365px;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
.map-container .imgshape {
  position: relative;
}
.map-container .iconmap {
  position: absolute;
  text-transform: capitalize;
  color: #444f79;
  white-space: nowrap;
  padding-left: 25px;
  z-index: 33;
}
.map-container .iconmap a {
  color: #444f79;
}
.map-container .iconmap.active:before {
  background-image: url("../images/iconmaphover.png");
}
.map-container .iconmap.active a {
  color: #94d60a;
}
.map-container .iconmap:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../images/iconmap.png");
  background-size: 16px auto;
  -moz-background-size: 16px auto;
  -webkit-background-size: 16px auto;
  background-repeat: no-repeat;
  background-width: 17px 17px;
  left: 0;
  top: 0;
}

.sanfrancisco {
  top: 29%;
  left: -1%;
}

.dallas {
  top: 65%;
  left: 48%;
}

.chijago {
  top: 33%;
  left: 65%;
}

.newyork {
  top: 31%;
  left: 90%;
}

.modal-dialog {
  padding: 10px;
  width: 700px;
}
.modal-dialog .modal-content {
  background-color: #e1e1e1;
  border: none;
  padding: 30px 90px;
  border-radius: 0;
  position: relative;
}

.dialog-submit {
  background-color: #e1e1e1;
  padding-bottom: 20px;
}
.dialog-submit h3 {
  font-size: 23px;
}
.dialog-submit .alignleft {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  left: -60px;
}
.dialog-submit p {
  font-size: 12px;
  color: #4c4c4c;
}
.dialog-submit .subtitle-dialog {
  font-size: 18px;
}

.rwd-navigation {
  display: none;
  text-align: center;
  margin-bottom: 15px;
}

.btn-nav {
  margin: 0 auto;
  background-color: #94d60a;
  padding: .8em 2em;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0;
  -webkit-transition: all 350ms ease;
          transition: all 350ms ease;
}
.btn-nav i {
  margin-right: 5px;
}
.btn-nav:hover, .btn-nav:focus {
  background-color: #72a508;
  color: white;
}

.mobile-nav {
  margin-top: 15px;
  font-weight: normal;
  text-align: left;
}
.mobile-nav li {
  display: block;
}
.mobile-nav li:hover a, .mobile-nav li:focus a, .mobile-nav li.active a {
  color: #94d60a;
}
.mobile-nav li a {
  padding: 5px 0;
  display: block;
  color: #444f79;
  border-bottom: 1px solid;
}

@media (max-width: 995px) {
  .form-contact .btn {
    margin-top: 30px;
  }
}
@media (max-width: 950px) {
  .lar-caption {
    float: left;
  }

  .modernfamily-carousel .owl-prev,
  .panelist-carousel .owl-prev,
  .checkout-carousel .owl-prev,
  .modernfamily-carousel .owl-next,
  .panelist-carousel .owl-next,
  .checkout-carousel .owl-next {
    z-index: 99;
    font-size: 26px;
  }

  .modernfamily-carousel .owl-prev,
  .panelist-carousel .owl-prev,
  .checkout-carousel .owl-prev {
    left: 0;
  }

  .modernfamily-carousel .owl-next,
  .panelist-carousel .owl-next,
  .checkout-carousel .owl-next {
    right: 0;
  }

  .modernfamily-carousel .item,
  .panelist-carousel .item,
  .checkout-carousel .item {
    margin: 0 5px;
  }

  .table-lar .btn {
    margin-top: 30px;
    float: left;
    margin-left: 15px;
  }
  .table-lar header {
    background-color: transparent;
    border-bottom-width: 0;
  }
  .table-lar .subtitle-table {
    background-color: transparent;
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .list-album .item-album {
    width: 50%;
  }
}
@media (max-width: 690px) {
  .section-quote {
    padding: 60px 0;
  }

  h2 {
    font-size: 18px;
  }

  .subheader-section {
    font-size: 16px;
  }

  .box-desc {
    margin-bottom: 15px;
  }

  .header-section {
    text-align: center;
  }
  .header-section h2 {
    float: none;
  }
  .header-section .list-jump {
    text-align: center;
    margin-bottom: 15px;
  }
  .header-section .jumpto {
    float: none;
  }
  .header-section .jumpto span {
    float: none;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    text-align: center;
  }

  .footer-right {
    float: none;
  }
  .footer-right .btn,
  .footer-right .list-socmed-footer {
    float: none !important;
    margin-bottom: 10px;
  }
  .footer-right .list-socmed-footer {
    margin-bottom: 0;
    text-align: center;
  }
  .footer-right .list-socmed-footer li {
    display: inline-block;
    float: none;
  }
  .footer-right .list-socmed-footer span {
    float: none;
  }

  .logo-footer {
    margin-bottom: 15px;
  }

  .header-left,
  .header-right {
    width: 100%;
    text-align: center;
  }

  .top-header {
    text-align: center;
  }
  .top-header .btn,
  .top-header .list-socmed-header {
    float: none !important;
  }
  .top-header .list-socmed-header {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .top-header .list-socmed-header li {
    display: inline-block;
    float: none;
  }

  .main-navigation {
    float: none;
    text-align: center;
  }
  .main-navigation ul li {
    float: none;
    display: inline-block;
  }
}
@media (max-width: 570px) {
  .table-lar h3 {
    float: none;
    display: block;
  }
  .table-lar .form-group {
    float: none;
    display: block;
    max-width: 100%;
    margin-top: 10px;
  }

  .label-table {
    display: block !important;
  }

  .map-container .iconmap {
    white-space: initial;
  }
  .map-container .imgshape {
    width: 100%;
  }

  .main-navigation {
    display: none;
  }

  .rwd-navigation {
    display: block;
  }

  .item-events .subimg-events {
    display: none;
  }
  .item-events .subcontent-events {
    width: 100%;
  }
  .item-events .img-icon {
    margin-top: -20px;
  }
}
@media (max-width: 480px) {
  .list-album .item-album {
    width: 100%;
  }
}
/** MODAL
===================================*/
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background: #ebebeb;
  box-shadow: 0 2px 20px #dadada;
  -moz-box-shadow: 0 2px 20px #dadada;
  -webkit-box-shadow: 0 2px 20px #dadada;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

@media (min-width: 32em) {
  .modal-box {
    width: 70%;
  }
}
.modal-body {
  height: 400px;
  overflow: scroll;
}
.modal-body .modelthumb {
  background-color: white;
  width: 200px;
  margin: 0 auto 25px;
  padding: 10px;
}
.modal-body .modelthumb img {
  margin-bottom: 15px;
}
.modal-body .modelthumb .name {
  display: block;
  font-weight: 700;
  font-size: 15px;
}
.modal-body .modelthumb .as {
  display: block;
  font-size: 14px;
  color: #8C8A8A;
}
@media screen and (min-width: 42em) {
  .modal-body .modelthumb {
    float: left;
    margin-right: 30px;
  }
}
.modal-body .content-text {
  font-size: 0.9em;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

/** MODAL
===================================*/
.modal-open .wrapper {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#adopext-modal, #adopext-modal_2 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 999;
}
#adopext-modal .page-header, #adopext-modal_2 .page-header {
  margin: auto;
  max-width: 550px;
  background-color: #ebebeb;
  padding: 25px 30px;
  position: absolute;
}
#adopext-modal .page-header .meta-extra, #adopext-modal_2 .page-header .meta-extra {
  font-weight: normal;
  font-weight: 15px;
}
@media screen and (max-width: 48em) {
  #adopext-modal .page-header, #adopext-modal_2 .page-header {
    height: 400px;
    overflow: scroll;
  }
}
#adopext-modal .adopex-row, #adopext-modal_2 .adopex-row {
  overflow: hidden;
  margin-top: 40px;
}
#adopext-modal .adopex-row .thumb-logo, #adopext-modal_2 .adopex-row .thumb-logo {
  text-align: center;
  margin-bottom: 25px;
}
#adopext-modal .adopex-row .thumb-logo img, #adopext-modal_2 .adopex-row .thumb-logo img {
  max-width: 197px;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  #adopext-modal .adopex-row .thumb-logo, #adopext-modal_2 .adopex-row .thumb-logo {
    float: right;
  }
}
#adopext-modal .adopex-row .btn-wrap, #adopext-modal_2 .adopex-row .btn-wrap {
  text-align: center;
}
#adopext-modal .adopex-row .btn-wrap a, #adopext-modal_2 .adopex-row .btn-wrap a {
  font-size: 12px;
  padding: 3px 24px;
  text-align: center;
  display: block;
  max-width: 280px;
}
@media screen and (max-width: 48em) {
  #adopext-modal .adopex-row .btn-wrap a, #adopext-modal_2 .adopex-row .btn-wrap a {
    max-width: none;
  }
}
@media screen and (min-width: 48em) {
  #adopext-modal .adopex-row .btn-wrap, #adopext-modal_2 .adopex-row .btn-wrap {
    float: left;
    text-align: left;
  }
}

#adopext-modal_2 {
  background-color: transparent;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 50px;
}
#adopext-modal_2 .page-header {
  position: relative;
}

.bluerbg {
  background: url("../images/blur-image.jpg") 0 0 no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10px;
}

.bgblurinside {
  min-height: 600px;
}

/** ABOUT 
===================================*/
.title-white-sm {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.staff-name {
  color: #44547e;
  display: inline-block;
}

.about-hero {
  background: #fefefe url("../images/about_hero.jpg") repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  padding: 15% 0 50%;
  min-height: 420px;
}
@media screen and (min-width: 48em) {
  .about-hero {
    padding: 7% 0;
  }
}

.abhero-desc {
  width: 330px;
  padding: 30px 20px;
  background-color: #f4f3f2;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: 210px;
  font-size: 0.9em;
}
@media screen and (max-width: 48em) {
  .abhero-desc {
    width: 100%;
    left: 0;
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 15px 18px;
  }
}
.abhero-desc h2 {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 22px;
}
@media screen and (min-width: 48em) {
  .abhero-desc h2 {
    font-size: 27px;
    margin-top: 12px;
  }
}

.about-shorthist {
  background-color: #e1e1e1;
  padding: 50px 0;
}

.list-unorder {
  list-style: disc;
  margin-left: 30px;
}
.list-unorder li {
  margin-bottom: 8px;
}

.color-blur {
  color: #3d4e7b;
}

.about-diagram {
  padding: 60px 0 20px;
}
.about-diagram .thumb {
  text-align: center;
  max-width: 840px;
  margin: 0 auto 30px;
}

.abdia-list {
  text-align: center;
}
.abdia-list ul {
  border-top: 1px solid #a7aec2;
  padding-top: 20px;
}
.abdia-list ul li {
  display: inline-block;
  padding: 0 15px;
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 48em) {
  .abdia-list ul li {
    width: 48%;
  }
}
@media screen and (min-width: 62em) {
  .abdia-list ul li {
    width: 24%;
  }
}

.about-team {
  padding: 25px 0 40px;
  color: #3d4e7b;
}

.abtea-staff-list li {
  display: block;
}
@media screen and (min-width: 48em) {
  .abtea-staff-list li {
    display: inline-block;
    width: 48%;
    padding-right: 15px;
  }
}

.about-history {
  padding: 28px 0 50px;
}
.about-history .alignleft {
  margin-right: 30px;
  margin-bottom: 10px;
  max-width: 310px;
}
@media screen and (max-width: 48em) {
  .about-history .alignleft {
    width: auto;
    max-width: none;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
  }
}

.about-work {
  padding: 40px 0;
}

.rowspace {
  padding: 50px 0;
}
.rowspace:after, .rowspace:before {
  content: '';
  display: table;
}
.rowspace:after {
  clear: both;
}

.title-linegreen {
  margin-top: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #94d60a;
  font-size: 24px;
}

@media screen and (min-width: 62em) {
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .nopadleft {
    padding-left: 0 !important;
  }
}
/** RESEARCH
===================================*/
.research-hero {
  background: #fefefe url("../images/hero_research.jpg") repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  padding: 15% 0 50%;
  min-height: 420px;
}
@media screen and (min-width: 48em) {
  .research-hero {
    padding: 7% 0;
  }
}

.rsc-helpart {
  margin-bottom: 30px;
}

.thumb-rsc-helpart {
  max-width: 170px;
  margin: 0 auto;
}
@media screen and (min-width: 62em) {
  .thumb-rsc-helpart {
    margin-top: 58px;
  }
}

.insideform {
  padding: 14px;
}

/** GRAPH RESEARCH
===================================*/
.graphrow {
  padding: 50px 0;
}

.graph-tab-content:before, .graph-tab-content:after {
  content: '';
  display: table;
}
.graph-tab-content:after {
  clear: both;
}
@media screen and (min-width: 62em) {
  .graph-tab-content {
    padding-left: 15px;
  }
}

.graph-tab-nav ul li {
  text-align: right;
  margin-bottom: 10px;
}
.graph-tab-nav ul li a {
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  display: inline-block;
  background-image: url("../images/icon-bublesm.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 25px auto;
  -moz-background-size: 25px auto;
  -webkit-background-size: 25px auto;
  padding-right: 35px;
  padding-bottom: 8px;
}
.graph-tab-nav ul li.active a, .graph-tab-nav ul li:hover a {
  background-image: url("../images/icon-bublesm_active.png");
  text-decoration: none;
}

.graph-text {
  font-size: 12px;
  background-color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  overflow: hidden;
}
.graph-text .graph-text-title {
  display: block;
  color: #333333;
}
.graph-text .graph-text-share {
  text-align: right;
  margin-top: 25px;
}
.graph-text .graph-text-share span, .graph-text .graph-text-share a {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}
.graph-text .graph-text-share img {
  width: 14px;
}
.graph-text .graph-text-share a {
  width: 14px;
  overflow: hidden;
}
.graph-text .graph-text-share a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.graph-main {
  float: left;
}

.tab_content {
  display: none;
}

/** MAIN GRAPH
===================================*/
.questiongraph {
  color: #444f79;
  font-size: 0.9em;
  margin-bottom: 20px;
  max-width: 500px;
  overflow: hidden;
  font-weight: 700;
}

.chart {
  width: 100%;
  height: 300px;
  margin: auto 0;
  padding-top: 20px;
  display: block;
}
.chart .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  position: relative;
  bottom: 20px;
}
.chart .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-top: 1px solid #444;
  border-right: 1px solid #444;
  position: relative;
  font-size: 12px;
}
.chart .numbers li:last-child {
  height: 30px;
}
.chart .numbers li span {
  color: #444;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.chart .bars {
  display: inline-block;
  /*width: 600px;*/
  height: 300px;
  padding: 0;
  padding-left: 15px;
  margin: 0;
  border-bottom: 1px solid #444;
}
.chart .bars li {
  display: inline-block;
  width: 45px;
  height: 300px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  bottom: 1px;
}
.chart .bars li.cornflow-blue .bar {
  background-color: #6195ED;
}
.chart .bars li.cornflow .bar {
  background-color: #97daeb;
}
.chart .bars li.cornflow .bar:before {
  background-color: #97daeb;
}
.chart .bars li.cornflow .bar:after {
  border-top-color: #97daeb;
}
.chart .bars li.science .bar {
  background-color: #0971ce;
}
.chart .bars li.science .bar:before {
  background-color: #0971ce;
}
.chart .bars li.science .bar:after {
  border-top-color: #0971ce;
}
.chart .bars li.gray-dark .bar {
  background-color: #748693;
}
.chart .bars li.gray-dark .bar:before {
  background-color: #748693;
}
.chart .bars li.gray-dark .bar:after {
  border-top-color: #748693;
}
.chart .bars li.gray-lt .bar {
  background-color: #bdc6c2;
}
.chart .bars li.gray-lt .bar:before {
  background-color: #bdc6c2;
}
.chart .bars li.gray-lt .bar:after {
  border-top-color: #bdc6c2;
}
.chart .bars li.theblue .bar {
  background-color: #275598;
}
.chart .bars li.theblue .bar:before {
  background-color: #275598;
}
.chart .bars li.theblue .bar:after {
  border-top-color: #275598;
}
.chart .bars li .bar {
  display: block;
  width: 45px;
  background-color: #49E;
  position: absolute;
  bottom: 0;
}
.chart .bars li .bar:before {
  color: white;
  content: attr(data-percentage) "%";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -56px;
  background-color: #49E;
  padding: 10px 9px;
  text-align: center;
  font-size: 12px;
  border-radius: 80%;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
.chart .bars li .bar:after {
  content: '';
  position: absolute;
  top: -22px;
  left: 12px;
  width: 0;
  height: 0;
  border-top: 10px solid #49E;
  border-left: 10px solid transparent;
}
.chart .bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
.chart .bars li span {
  color: #444;
  width: 100%;
  position: absolute;
  top: 104%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 11px;
  text-align: Center;
}
