// VARIABLES & PARAMETRIC-MIXIN
@import "variablesparametricmixin";

html, body{
	height: 100%;
}

body{
	font-size: 16px;
	color: black;
	background: url("../images/body-bg.jpg") repeat 0 0;
	position: relative;
	top: 0;
	left: 0;
}


h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	letter-spacing: 0;
	color: $blue;
}
h1{}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{}
h6{}

a{
	transition: all 250ms ease;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

p{
	margin-bottom: 10px;
	strong{
		color: $blue;
		span{
			display: block;
		}
	}
}

figure{}
img{
	max-width: 100%;
}

.table-lar{
	position: relative;
	border: 2px solid $blue;
	background-color: white;
	padding: 0px 0 20px;
	margin-bottom: 30px;
	.btn{
		float: right;
		margin-right: 15px;
	}
	header{
		background: #f9f9f9;
		padding: 10px 15px;
		border-bottom: 20px solid $gray-light;
		h3{
			margin: 0;
			text-transform: capitalize;
			color: $green;

		}
	}
	.subtitle-table{
		margin: 0;
		background-color: #f9f9f9;
		padding: 15px;
		color: $green;
		text-transform: capitalize;
		border-bottom: 1px solid $gray-light;
	}
	table{
		margin: 0 15px 20px;
		width: auto;
	}
	thead{
		text-transform: uppercase;
		font-size: 12px;
		color: $gray-dark;
		font-weight: bold;
		letter-spacing: 0;
		tr{
			border-bottom: 1px solid $gray-light;
			td:first-child{
				text-align: left;
			}
			td:last-child{
				text-align: right;
			}
		}
		td{}
	}
	tbody{
		tr{
			border-bottom: 1px solid $gray-light;
			td:first-child{
				text-align: left;
			}
			td:last-child{
				text-align: right;
			}
		}
		td{
			color: $text-light;
			p, h5{
				color: $text-light;
			}
			h5{
				margin: 0;
			}
		}
	}
	tfoot{
		tr{
			border-bottom: 1px solid $gray-light;
			td:first-child{
				text-align: left;
			}
			td:last-child{
				text-align: right;
			}
		}
		td{
			color: $text-light;
			p, h5{
				color: $text-light;
			}
			h5{
				margin: 0;
			}
		}
	}
	.small-link{
		color: $gray-dark;
		font-size: 12px;
		&:hover,
		&:focus{
			color: $green;
		}
	}
	input{
		max-width: 80px;
		border: 1px solid $gray-light !important;
	}
	.field-table{
		text-align: right;
		.label-table{
			display: inline-block;
			letter-spacing: 0;
		}
	}
}
.alignright{
	float: right;
	text-align: right;
}
.aligncenter{
	text-align: center;
	margin: 0 auto;
}
.alignleft{
	float: left;
	text-align: left;
}

.alignleft,
.alignright,
.aligncenter{
	&.lar-caption{
		padding: 15px 15px 45px;
		background-color: white;
		box-shadow: 2px 2px 7px rgba( black, .4 );
		max-width: 378px;
	}
}
blockquote{
	p{}
	cite{}
	small{}
}

ul, ol{
	@include resetlist();
}

.list-socmed-header{
	margin-right: 20px;
	float: right;
	margin-top: 2px;
	li{
		float: left;
	}
	a{
		position: relative;
		display: block;
		height: 25px;
		width: 25px;
		line-height: 25px;
		border-radius: 50%;
		text-align: center;
		color: white;
		background-color: $green;
		margin-left: 10px;
		font-size: 12px;
		overflow: hidden;
		&:hover,
		&:focus{
			&:before{
				transform: scale( 0 );
			}
			i{
				color: $blue;
			}
		}
		&:before{
			position: absolute;
			content: "";
			background-color: $blue;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: transform 450ms;
			transform: scale(1);
			border-radius: 50%;
		}
		i{
			position: relative;
			transition: color 500ms, transform 500ms;
		}
	}
}
.list-socmed-footer{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	ul{
		span{
			color: $text-light;
			line-height: 27px;
			height: 25px;
			float: left;
			text-transform: capitalize;
		}
		li{
			display: inline-block;
			text-align: left;
		}
		a{
			display: block;
			height: 25px;
			width: 25px;
			line-height: 25px;
			border-radius: 50%;
			text-align: center;
			color: white;
			position: relative;
			margin-left: 20px;
		}
	}
}

.list-socmed-share{
	position: absolute;
	top: 30px;
	left: 15px;
	z-index: 33;
	ul{}
	li{}
	a{
		@include circle(25px);
		color: white;
		margin-bottom: 15px;
	}
}

.reset-padd{
	padding-top: 0 !important;
}

$socmedcolor: 
	( email, #acacac ),
	( facebook, #547bbc ),
	( twitter, #78cbef ),
	( linkedin, #1384c7 ),
	( google-plus, #4b4b4b ),
	( instagram, #00a2da );

@each $socmedclass, $socmedhex in $socmedcolor{
	.#{$socmedclass}{
		background-color: $socmedhex;
		&:hover,
		&:focus{
			background-color: darken( $socmedhex, 15% );
		}
	}
}

.border-child{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background-image: url("../images/borderpeople.png");
	height: 80px;
	background-size: auto 80px; 
	-moz-background-size: auto 80px; 
	-webkit-background-size: auto 80px; 
}

// MIXIN SPACER
$spacers: 
	( space15, 15px ),
	( space30, 30px ),
	( space45, 45px ),
	( space60, 60px ),
	( space75, 75px );

@each $namespace, $sizespace in $spacers{
	.#{$namespace}{
		clear: both;
		width: 100%;
		height: $sizespace;
		display: block;
	}
}

// MIXIN TEXT-COLOR
// $textcolor: 
// 	( red, red, black ),
// 	( blue, blue, black );

// @each $namecolor, $hexcolor, $hexcolorhover in $textcolor{
// 	.text-#{$namecolor}{
// 		color: $hexcolor;
// 	}
// 	a.text-#{$namecolor}{
// 		color: $hexcolor;
// 		&:hover,
// 		&:focus{
// 			color: $hexcolorhover;
// 		}
// 	}
// }

// MIXIN BG-COLOR
$bgcolors:
	( gray, $gray-dark ),
	( gray-light, $gray-light );

@each $namebg, $hexbgcolor in $bgcolors{
	.bg-#{$namebg}{
		background-color: $hexbgcolor;
	}
}

.bg-white{
	background-color: white;
}

.bg-gray{
	.header-section{
		border-bottom: 1px solid $blue !important;
		h2{
			color: white !important;
		}
	}
	.subheader-section{
		color: white !important;
	}
}
.bg-gray-lt{
	background-color: #e1e1e1;
}

// BUTTONS
.btn{
	display: inline-block;
	padding: 4px 22px;
	border-radius: 3px;
	text-transform: capitalize;
	font-weight: bold;
}
.btn-green{
	background-color: $green;
	color: white;
	&:hover,
	&:focus{
		background-color: darken( $green, 10% );
		color: white;
	}
}

.btn-gray{
	background-color: $gray-light;
	color: white;
	&:hover,
	&:focus{
		background-color: $text;
		color: white;
	}
}

.btn-l{
	padding: 12px 40px;
    letter-spacing: 0;
    font-size: 18px;
}

.centered{
	text-align: center;
	padding: 15% 0;
	.btn{
		margin: 15px;
	}
}

// FIELDS
input[type="text"],
input[type="email"],
input[type="site"],
textarea,
.combobox{
	border: none;
	background-color: white;
	padding: 6px;
	width: 100%;
}
textarea{}

.combobox{
	option{
		display: block;
		padding: 10px 15px;
		background-color: $gray-light;
		color: $text;
		&:hover,
		&:focus,
		&:active{
			background-color: $text;
			color: $gray-light;
		}
	}
}

.combo-box{
	a{
		font-size: 16px;
		font-weight: bold;
		color: $blue;
		letter-spacing: 0;
		text-transform: capitalize;
		i{
			margin-left: 10px;
			font-size: 12px;
			color: $green;
		}
	}
	.dropdown-menu{ 
		border-radius: 0;
		border: none;
		padding: 0;
		margin: 0;
		a{
			display: block;
			padding: 8px 15px;
			color: $blue;
			&:hover,
			&:focus{
				color: $green;
				background-color: transparent;
			}
		}
	}
}

.combo-style{
	width: 100%;
	display: block;
	.dropdown-toggle{
		background-color: white;
		width: 100%;
		max-width: 100%;
		display: block;
		height: 41px;
		line-height: 41px;
		box-shadow: none !important;
		padding-left: 5px;
		padding-right: 30px;
		font-weight: normal;
		font-size: 14px;
		color: $text;
		position: relative;
		i{
			position: absolute;
			right: 0;
			top: 0;
			right: 0;
			color: $text;
			background-color: $text-light;
			height: 32px;
			width: 32px;
			line-height: 32px;
			text-align: center;
		}
	}
	.dropdown-menu{
		width: 94%;
		box-shadow: 0 7px 12px rgba(0, 0, 0, .3);
		li{
			a{
				padding-left: 5px;
				font-size: 13px;
				color: $text;
				background-color: $gray-light;
				&:hover,
				&:focus{
					background-color: $text-light;
					color: white;
				}
			}
		}
	}
}

.table-lar{
	.form-group{
		float: right;
		max-width: 300px;
		margin-bottom: 0;
		.form-control{
			max-width: 100%;
		}
		.dropdown-menu{
			z-index: 333;
		}
	}
	h3{
		float: left;
		margin-top: 5px !important;
	}
}
// FORM
.wrapper-form{
	position: relative;
	margin-top: 30px;
	padding: 20px; 
	padding-bottom: 50px;
	box-shadow: 3px 5px 17px -1px rgba(0, 0, 0, 0.4);
}
form{
	.item{}
	.field-box{}
	.field{
		margin-bottom: 10px;
	}
}
.form-adopt-wrapper{
	position: relative;
	max-width: 340px;
	margin: 0 auto;

	img{
		max-width: 262px;
		margin: 0 auto;
	}

	.logo-form{
		max-width: 170px;
		overflow: hidden;
		@media screen and(min-width: 48em){
			margin-left: -72px;
		}
		img{
			max-width: 100%;
		}
	}
	.title-form{
		margin: 0;
		margin-bottom: 15px;
		font-size: 29px;
	}
}

.form-control{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


.form-adopt{
	margin-top: 20px;
	padding: 10px;
	display: block;
	border-radius: 12px;
	background: $blue;
	text-align: left;
	position: relative;
	h3{
		margin-top: 0;
		color: white;
	}
	.field-box{
		float: left;
		width: 70%;
		margin-right: 2%;
	}
	.submit-box{
		float: right;
		width: 28%;
		.btn{
			margin-top: 43px;
		}
	}
}

.form-shareexperience{
	input[type="text"],
	input[type="email"]{
		margin-bottom: 10px;
	}
	.label-field{
		color: $text-light;
		display: block;
		margin-bottom: 5px;
	}
	.another-field{
		position: relative;
		.btn{
			float: right;
		}
		.small-link{
			font-size: 12px;
			color: $text;
			float: left;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
}

.form-contact{
	.field{
		margin-bottom: 15px;
		display: block;
		input[type="text"], input[type="email"], input[type="site"], select{
	       height: 39px;
	   }

	   textarea{
	   	height: 92px;
	   }
	}
	.btn{
		margin-right: 14px;
		font-size: 21px;
		margin-top: 20px;
		float: right;
	}

}

.form-filtering{
	position: relative;
	padding: 20px 0;
	.field{
		float: left;
		width: 100px;
	}
}

// LAYOUT 
.site-header{
	position: relative;
	width: 100%;
	background-color: rgba(#e1e1e1, 0.6);
	padding: 40px 0 38px;
	//box-shadow: 1px 2px 16px rgba( black, .2 );
	z-index: 33;
	// set animation
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	border-bottom: 1px solid transparent;
	.logo_new, .top-header{
		visibility: visible;
		opacity: 1;
		-webkit-transition: all 0.6s ease-out;
		transition: all 0.6s ease-out;
		-moz-transition: all 0.6s ease-out;
	}
	&.sticky{
		position: fixed;
		background-color: #e1e1e1;
		border-bottom: 1px solid darken(#e1e1e1, 5%);
		box-shadow: none;
		padding: 13px 0;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		z-index: 999;
	}
	@media screen and(min-width: 62em){
		/*height: 110px;	
		&.sticky{
			height: 100px;
		}*/
	}
	
	.header-left{
		float: left;
	}
	.header-right{
		float: right;
		/*min-width: 80%;*/
		text-align: right;
	}
	.top-header,
	.bottom-header{
		display: block;
	}
	.top-header{
		margin-bottom: 10px;
	}
	.bottom-header{}
}
.site-main{
	position: relative;
	padding-top: 20px;

	&.no-space{
		padding: 0;
	}
}
.site-footer{
	background-color: $gray-light;
	padding: 60px 0;
	padding-bottom: 120px;
	position: relative;
	z-index: 33;
	.footer-left{
		float: left;
		min-width: 20%;
	}
	.footer-right{
		float: right;
		min-width: 80%;
	}
	.logo-footer{
		width: 180px;
	}

}


.foot-sticky{
	background-color: darken(#e1e1e1, 10%);
	padding-top: 20px;
	padding-bottom: 12px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	text-align: center;

	@media screen and (min-width: 62em){
		text-align: left;
		.btn-green{
        	float: right;
        }
        p{
      		margin-bottom: 0;
      	}
	}
    .desc{
      color: #444f79;
      
      @media screen and (min-width: 62em){
        float: left;
        font-size: 17px; text-align: left;
      }
    }
}

.section-box{
	padding: 20px 0;
}
.section-adopt{
	padding: 40px 0;
}
.section-national{}
.section-national-second{
	position: relative;
	background: white;
	margin-top: -20px;
	padding-top: 40px;
	&:before{
		position: absolute;
		top: 0px;
		left: 0;
	}
}

.section-nyc{
	&:before{
		content: url("../images/map.png");
	}
}

.section-dallas{
	&:before{
		content: url("../images/map-dallas.png");
	}
}

.section-sf{
	&:before{
		content: url("../images/map-sf.png");
	}
}
.section-modern-family{
	padding: 40px 0;
	.btn{
		float: right;
		margin-right: 15px;
	}
}
.section-quote{
	padding: 140px 0;
	text-align: center;
}
.section-events{}
.section-panelists{
	padding: 40px 0;
}
.section-openletter{}
.section-checkout{
	padding: 0 0 20px;
	.header-section{
		border-bottom-color: $blue !important;
		h2{
			color: $text;
		}
	}
}
.header-section{
	position: relative;
	border-bottom: 2px solid $green;
	margin-bottom: 15px;
	h2{
		margin-top: 0;
		text-transform: capitalize;
		float: left;
	}
	.jumpto{
		float: right;
		color: $text-light;
		font-size: 14px;
		span{
			float: left;
			display: inline-block;
			text-transform: capitalize;
		}
	}
	.list-jump{
		text-align: right;
		margin-top: 10px;
		li{
			display: inline-block;
			margin-left: 15px;
		}
		a{
			display: block;
			color: $text-light;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
}

.subheader-section{
	color: $text;
	font-size: 20px;
	letter-spacing: 0;
}
.panel-national{
	padding: 20px 0;
	margin-bottom: 30px;
}

.boxmap-desc{
	@media screena and (min-width: 62em){
		
	}
}
.box-desc{
	background-color: $gray-light;
	padding: 10px 20px;
	margin-bottom: 15px;
	display: none;
}
.fancy-desc{
	margin-top: 15px;
    margin-bottom: 16px;
	border-top: 2px solid $green;
}

.page-content{
	padding-top: 40px;
}
.page-header{
	position: relative;
	margin: 0 0 30px;
	border-bottom-width: 0;
	h2{
		margin-top: 0;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 2px solid $green;
	}
	.meta-extra{
		color: $text;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 0;
		a{
			color: $text;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
}
.subpage-content{
	padding: 30px 0;
}
.innerpage-content{
	position: relative;
	padding: 30px 90px 30px;
	.alignleft{
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.aligncenter{
		margin: 0 15px 15px;
	}
	.alignright{
		margin-left: 15px;
		margin-bottom: 15px;
	}
	p{
		strong{
			color: $blue;
		}
	}
}
// LAYOUT IN HEADER
.logo{
	 position: relative;
    bottom: 0;
    z-index: 2;
    max-width: 155px;
    overflow: hidden;

    @media screen and (min-width: 45em) and (max-width: 62em){
		 max-width: 120px;
    }

    @media screen and (max-width: 45em){
    	margin: 0 auto 30px;
    }
}

.logo_new{
	position: relative;
    bottom: 0;
    z-index: 2;
    max-width: 285px;
    overflow: hidden;

    @media screen and (min-width: 45em) and (max-width: 62em){
		 max-width: 227px;
    }

    @media screen and (max-width: 45em){
    	margin: 0 auto 30px;
    }
}
.main-navigation{
	font-weight: bold;
	text-transform: capitalize;
	float: right;
	border-bottom: 2px solid $green;
	position: relative;
	//overflow: hidden;
	ul{
		li{
			float: left;
			position: relative;
			&:hover,
			&:focus,
			&.active{
				a{
					&:after{
						display: block;
					}
				}

			}
			> a{
				position: relative;
				display: block;
				padding: 2px;
				margin: 0 5px 5px;
				color: $blue;
				&:after{
					content: "";
					display: none;
					position: absolute;
					bottom: -7px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 7px solid #94d60a;
					left: 50%;
					margin-left: -15px;					
					//transition: bottom 350ms ease, transform 250ms cubic-bezier(0.14, 0.56, 0.67, 0.99);
				}
			}

			> ul{
				display: none;
				position: absolute;
				background-color: #e1e1e1;
				font-weight: normal;
				text-transform: capitalize;
				min-width: 215px;
				z-index: 999;
				border: 1px solid #C7C7C7;
				li{
					display: block;
					float: none;
					text-align: left;
					&:hover,
					&:focus{
						> a{
							color:  #94d60a;
						}
					}
					&:first-child{
						>a{
							padding-top: 15px;
							&:after{
								position: absolute;
								display: block;
								width: 20px;
								height: 20px;
								background-color: #e1e1e1;
								border: 1px solid rgba( black, .1);
								border-right: none;
								border-bottom: none;
								content: "";
								transform: rotate(45deg);
								top: -10px;
								left: 32px;
							}
						}
					}
					&:last-child{
						>a{
							padding-bottom: 15px;
							border: none;
						}
					}
					>a{
						position: relative;
						font-size: 0.9em;
    					border-bottom: 1px solid #94d60a;
						font-weight: 700;
						padding: 7px 15px;
						margin: 0;
						transition: all 400ms ease-out;
						&:after{
							display: none !important;
						}
					}
					>ul{}
				}
			}

			&:hover{
				> ul {
					display: block;
				}
			}
		}
	}
}

// LAYOUT IN MAIN

// LAYOUT IN FOOTER

// ITEMS
.family-album-wrapper{
	position: relative;
	width: 100%;
}
.list-album{
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	.item-album{
		float: left;
		width: (100% /3 );
		padding-left: 15px;
		padding-right: 15px;
	}
}
.item-album{
	position: relative;
	margin-bottom: 20px;
	.subitem-album{
		padding: 10px;
		background-color: white;
		text-align: center;
		img{
			margin: 0 auto;
		}
	}
	.desc{
		text-align: left;
		padding-top: 10px;
	}
	.share-icon{
		@include circle( 25px );
		color: white;
		float: right;
	}
	h5, span{
		text-transform: capitalize;
	}
	h5{
		margin: 0;
		a{
			color: $text;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
	span{}
}

.item-contact{
	margin-bottom: 20px;
	position: relative;
	.alignleft{
		margin-right: 10px;
		margin-bottom: 10px;
	}
	h3{
		font-size: 18px;
		line-height: 1.4;
		margin-top: 10px;
		a{
			display: block;
			color: $blue;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
	img{
		width: 75px;
	}
}
.item-nation{
	// max-width: 260px;
	position: relative;
	margin: 0 auto 30px;
	text-align: center;
	img{max-width: 75px;}
	h4{
		margin-top: 20px;
		a{
			color: $blue;
			&:hover,
			&:focus{
				color: $green;
			}
		}
	}
	p{}
}
.item-events{
	position: relative;
	margin-bottom: 30px;
	.subitem-events{
		position: relative;
	}
	.title-events{
		margin-top: 0;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 2px solid $green;
		text-transform: capitalize;
		font-size: 26px;
	}
	.content-events{
		position: relative;
	}
	figure{
		padding: 10px;
		background-color: white;
		text-align: center;
		margin: 30px auto 0;
		max-width: 200px;
		img{}
		caption{}
		h5, span{
			text-align: left;
			display: block;
		}
		h5{
			margin-bottom: 5px;
			text-transform: capitalize;
		}
		span{}
	}
	.subcontent-events{
		float: left;
		width: 70%;
	}
	.subimg-events{
		float: left;
		width: 30%; 
	}
	.img-icon{
		float: right;
		max-width: 86px;
	}
}
.item-quote{
	h2{
		font-size: 30px;
		margin: 0;
	}
}


.adopex-row {
	.btn-wrap{
		text-align: center;

		a{
			margin-bottom: 3px;
			word-wrap: break-word;
		}
	}
}

.thumb-logo{
	text-align: center;
	img {
    	max-width: 280px;
    	margin: 0 auto;
	}
}

.modernfamily-carousel,
.panelist-carousel,
.checkout-carousel{
	margin-bottom: 30px;
	figure{
		padding: 10px;
		background-color: white;
		text-align: left;
		margin: 20px 10px 0;
		max-width: 230px;
		img{}
		caption{}
		h5{
			font-size: 16px;
			margin-bottom: 0px;
			text-transform: capitalize;
			a{
				color: $text;
				&:hover,
				&:focus{
					color: $blue;
				}
			}
		}
		span{}
	}
	.item{
		position: relative;
		z-index: 22;
	}
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 35%;
	}
	.owl-nav{
		position: absolute;
		width: 100%;
	}
	.owl-prev,
	.owl-next{
		color: $blue;
		font-size: 34px;
		position: absolute;
		&:hover,
		&:focus{
			color: $text;
		}
	}
	.owl-prev{
		left: -30px;
	}
	.owl-next{
		right: -30px;
	}

}
.panelist-carousel{
	.item{
		figure{
		}
		caption{}
		h5{}
		span{}
	}
}

.map-container{
	position: relative;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 30px;
	@media screen and (min-width: 62em){
		margin: 0;
	}
	@media screen and (max-width: 62em){
		height: 365px;
		overflow: auto;
		overflow-y: hidden;
		white-space: nowrap
	}
	.imgshape{
		position: relative;
	}
	.iconmap{
		position: absolute;
		text-transform: capitalize;
		color: $blue;
		white-space: nowrap;
		padding-left: 25px;
		z-index: 33;

		a{
			color: #444f79;
		}
		&.active{
			&:before{
				background-image: url("../images/iconmaphover.png");
			}

			a{
				color: #94d60a;
			}
		}
		&:before{
			content: "";
			position: absolute;
			width: 17px;
			height: 17px;
			background-image: url("../images/iconmap.png");
			background-size: 16px auto;
			-moz-background-size: 16px auto;
			-webkit-background-size: 16px auto;
			background-repeat: no-repeat;
			background-width: 17px 17px;
			left: 0;
			top: 0;
		}
	}
}


$positions:
	( sanfrancisco, 29%, -1% ),
	( dallas, 65%, 48% ),
	( chijago, 33%, 65% ),
	( newyork, 31%, 90% );

@each $class, $horizontal, $vertical in $positions{
	.#{$class}{
		top: $horizontal;
		left: $vertical;
	}
}

// MODAL
.modal-dialog{
	padding: 10px;
	width: 700px;
	.modal-content{
		background-color: $gray-light;
		border: none;
		padding: 30px 90px;
		border-radius: 0;
		position: relative;
	}
}
.dialog-submit{
	background-color: $gray-light;
	padding-bottom: 20px;
	h3{
		font-size: 23px;
	}
	.alignleft{
		width: 100%;
		display: block;
		text-align: left;
		margin-bottom: 15px;
		position: relative;
		left: -60px;
	}
	p{
		font-size: 12px;
		color: $text;
	}
	.subtitle-dialog{
		font-size: 18px;
	}
}
.dialog-shareexperience{
	//background-color: $gray-light;
}

// MEDIA-QUERIES
.rwd-navigation{
	display: none;
	text-align: center;
	margin-bottom: 15px;
}
.btn-nav{
	margin: 0 auto;
	background-color: $green;
	padding: .8em 2em;
	border-radius: 3px;
	cursor: pointer;
	color: white;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 0;
	transition: all 350ms ease;
	i{
		margin-right: 5px;
	}
	&:hover,
	&:focus{
		background-color: darken( $green, 10% );
		color: white;
	}
}
.mobile-nav{
	margin-top: 15px;
	font-weight: normal;
	text-align: left;
	li{
		display: block;
		&:hover,
		&:focus,
		&.active{
			a{
				color: $green;
			}
		}
		a{
			padding: 5px 0;
			display: block;
			color: $blue;
			border-bottom: 1px solid ;
		}
	}
}
@media (max-width: 1200px) {
}
@media (max-width: 995px) {
	.form-contact{
		.btn{
			margin-top: 30px;
		}
	}
}
@media (max-width: 950px) {
	.lar-caption{
		float: left;
	}
	.modernfamily-carousel .owl-prev, 
	.panelist-carousel .owl-prev,
	.checkout-carousel .owl-prev,
	.modernfamily-carousel .owl-next, 
	.panelist-carousel .owl-next,
	.checkout-carousel .owl-next{
		z-index: 99;
		font-size: 26px;
	}
	.modernfamily-carousel .owl-prev, 
	.panelist-carousel .owl-prev,
	.checkout-carousel .owl-prev{
		left: 0;
	}
	.modernfamily-carousel .owl-next, 
	.panelist-carousel .owl-next,
	.checkout-carousel .owl-next{
		right: 0;
	}
	.modernfamily-carousel .item, 
	.panelist-carousel .item,
	.checkout-carousel .item{
		margin: 0 5px;
	}
	.table-lar{
		.btn{
			margin-top: 30px;
			float: left;
			margin-left:15px;
		}
		header{
			background-color: transparent;
			border-bottom-width: 0;
		}
		.subtitle-table{
			background-color: transparent;
			border-bottom: none;
		}
	}

}
@media (max-width: 767px) {
	.list-album{
		.item-album{
			width: (100% /2);
		}
	}
}
@media (max-width: 690px) {
	.section-quote{
		padding: 60px 0;
	}
	h2{
		font-size: 18px;
	}
	.subheader-section{
		font-size: 16px;
	}
	.box-desc{
		margin-bottom: 15px;
	}
	.header-section{
		text-align: center;
		h2{
			float: none;
		}
		.list-jump{
			text-align: center;
			margin-bottom: 15px;
		}
		.jumpto{
			float: none;
			span{
				float: none;
			}
		}
	}
	.footer-left,
	.footer-right{
		width: 100%;
		text-align: center;
	}
	.footer-right{
		float: none;
		.btn,
		.list-socmed-footer{
			float: none !important;
			margin-bottom: 10px;
		}
		.list-socmed-footer{
			margin-bottom: 0;
			text-align: center;
			li{
				display: inline-block;
				float: none;
			}
			span{
				float: none;
			}
		}
	}

	.logo-footer{
		margin-bottom: 15px;
	}
	.header-left,
	.header-right{
		width: 100%;
		text-align: center;
	}
	.top-header{
		text-align: center;
		.btn,
		.list-socmed-header{
			float: none !important;
		}
		.list-socmed-header{
			display: block;
			margin-top: 15px;
			text-align: center;
			li{
				display: inline-block;
				float: none;
			}
		}
	}
	.main-navigation{
		float: none;
		text-align: center;
		ul li{
			float: none;
			display: inline-block;
		}
	}
}
@media (max-width: 570px) {
	.table-lar{
		h3{
			float: none;
			display: block;
		}
		.form-group{
			float: none;
			display: block;
			max-width: 100%;
			margin-top: 10px;
		}
	}
	.label-table{
		display: block !important;
	}
	.map-container{
		.iconmap{
			white-space: initial;
		}
		.imgshape{
			width: 100%;
		}
	}
	.main-navigation{
		display: none;
	}
	.rwd-navigation{
		display: block;
	} 
	.item-events{
		.subimg-events{
			display: none;
		}	
		.subcontent-events{
			width: 100%;
		}
		.img-icon{
			margin-top: -20px;
		}
	}
}
@media (max-width: 480px) {
	.list-album{
		.item-album{
			width: 100%;
		}
	}
}

/** MODAL
===================================*/
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background: #ebebeb;
  box-shadow: 0 2px 20px #dadada;
  -moz-box-shadow: 0 2px 20px #dadada;
  -webkit-box-shadow: 0 2px 20px #dadada;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 32em) {
	.modal-box { 
		width: 70%; 
	}
}

.modal-body{
	height: 400px;
  overflow: scroll;
	.modelthumb{
	  	background-color: white;
	  	width: 200px;
	  	margin: 0 auto 25px;
	  	padding: 10px;

	  	img{
	  		margin-bottom: 15px;
	  	}

	  	.name{
	  		display: block;
	  		font-weight: 700;
	  		font-size: 15px;
	  	}

	  	.as{
	  		display: block;
	  		font-size: 14px;
	  		color: #8C8A8A;
	  	}
	  	@media screen and (min-width: 42em){
	  		float: left;
	  		margin-right: 30px;
	  	}
	 }
	 .content-text{
	 	font-size: 0.9em
	 }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

/** MODAL
===================================*/
.modal-open{
	.wrapper{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
  		filter: blur(5px);
	}
}

#adopext-modal{
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: 999;
	.page-header{
		margin: auto;
		max-width: 550px;
		background-color: #ebebeb;
    	padding: 25px 30px;
    	position: absolute;
		.meta-extra{
			font-weight: normal;
			font-weight: 15px;

		}

		@media screen and (max-width: 48em){
			height: 400px;
			overflow:  scroll;
		}
	}

	.adopex-row{
		overflow: hidden;
		margin-top: 40px;
		.thumb-logo{
			text-align: center;
			margin-bottom: 25px;
			img{
				max-width: 197px;
				margin: 0 auto;
			}
			@media screen and (min-width: 48em){
				float: right;
			}
		}
		.btn-wrap{
			text-align: center;
			a{
				 font-size: 12px;
				 padding: 3px 24px;
				 text-align: center;
				 display: block;
				 max-width: 280px;
				 
				 @media screen and (max-width: 48em){
				 	max-width: none;
				 }
			}
			@media screen and (min-width: 48em){
				float: left;
				text-align: left
			}
		}

	}
}

.wrapper.bgBlur{

}

#adopext-modal_2{
	@extend #adopext-modal;
	background-color: transparent;
	position: relative;
	left: 0;
	top: 0;
	z-index: 10;
	padding-top: 50px;

	.page-header{
		position: relative;
	}
}

.bluerbg{
	background: url('../images/blur-image.jpg') 0 0 no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10px;
}

.bgblurinside{
	min-height: 600px;
}

/** ABOUT 
===================================*/
.title-white-sm{
	color: white;
	font-size: 18px;
	font-weight: 600;
}
.staff-name{
	color: #44547e;
	display: inline-block;
}

.about-hero{
	background: #fefefe url("../images/about_hero.jpg") repeat  center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: relative;
	padding: 15% 0 50%;
	min-height: 420px;
	@media screen and (min-width: 48em){
		padding: 7% 0;
	}
}
.abhero-desc{
	width: 330px;
	padding: 30px 20px;
	background-color: #f4f3f2;
	border-radius: 8px 8px 0px 0px; 
	-moz-border-radius: 8px 8px 0px 0px; 
	-webkit-border-radius: 8px 8px 0px 0px; 
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: 210px;
	font-size: 0.9em;
	@media screen and (max-width: 48em){
		width: 100%;
		left: 0;
		margin: 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		padding: 15px 18px;
	}

	h2{
		margin-top: 0;
		margin-bottom: 13px;
		font-size: 22px;
		@media screen and (min-width: 48em){
			font-size: 27px;
			margin-top: 12px;
		}
	}
}

.about-shorthist{
	background-color: #e1e1e1;
	padding: 50px 0;
}

.list-unorder{
	list-style: disc;
	margin-left: 30px;

	li{
		margin-bottom: 8px;
	}
}
.color-blur{
	color: #3d4e7b;
}

.about-diagram{
	padding: 60px 0 20px;

	.thumb{
		text-align: center;
		max-width: 840px;
		margin: 0 auto 30px;
	}
}
.abdia-list{
	text-align: center;
	ul{
		border-top: 1px solid #a7aec2;
		padding-top: 20px;
		li{
			display: inline-block;
			padding: 0 15px;
			text-align: left;
			margin-bottom: 20px;
			@media screen and (min-width: 48em){
				width: 48%;
			}
			@media screen and (min-width: 62em){
				width: 24%;
			}
		}
	}
}

.about-team{
	padding: 25px 0 40px;
	color: #3d4e7b;
}

.abtea-staff-list{
	li{
		display: block;
		@media screen and (min-width: 48em){
			display: inline-block;
			width: 48%;
			padding-right: 15px;
		}
	}
}

.about-history{
	padding: 28px 0 50px;

	.alignleft{
		margin-right: 30px;
		margin-bottom: 10px;
		max-width: 310px;

		@media screen and (max-width: 48em){
			width: auto;
			max-width: none;
			text-align: center;
			margin: 0;
			margin-bottom: 25px;
		}
	}
}

.about-work{
	padding: 40px 0;
}

.rowspace{
	padding: 50px 0;
	&:after, &:before{
		content: '';
		display: table;
	}
	&:after{
		clear: both;
	}
}


.title-linegreen{
	margin-top: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #94d60a;
    font-size: 24px;
}



@media screen and (min-width: 62em){
	.nopadding {
	   padding: 0 !important;
	   margin: 0 !important;
	}
	.nopadleft{
		 padding-left: 0 !important;
	}
}
/** RESEARCH
===================================*/
.research-hero{
	background: #fefefe url("../images/hero_research.jpg") repeat  center center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position: relative;
	padding: 15% 0 50%;
	min-height: 420px;
	@media screen and (min-width: 48em){
		padding: 7% 0;
	}
}

.rsc-helpart{
	margin-bottom: 30px;
}

.thumb-rsc-helpart{
	max-width: 170px;
	margin: 0 auto;
	@media screen and (min-width: 62em){
		margin-top: 58px;
	}	
}

.insideform{
	padding: 14px;
}

/** GRAPH RESEARCH
===================================*/
.graphrow{
	padding: 50px 0;
}
.graph-tab-content{
	&:before, &:after{
		content:'';
		display: table;
	}
	&:after{
		clear: both;
	}
	@media screen and (min-width: 62em){
		padding-left: 15px;
	}
}

.graph-tab-nav{
	ul {
		li{
			text-align: right;
			margin-bottom: 10px;
			a{
				font-size: 12px;
				line-height: 1.5em;
				color: #333;
				display: inline-block;
				background-image: url('../images/icon-bublesm.png');
				background-repeat: no-repeat;
				background-position: right top;
				background-size: 25px auto;
				-moz-background-size: 25px auto;
				-webkit-background-size: 25px auto;
				padding-right: 35px;
				padding-bottom: 8px;

			}

			&.active, &:hover{
				a{
					background-image: url('../images/icon-bublesm_active.png');
					text-decoration: none;
				}
			}
		}
	}
}

.graph-text{
	font-size: 12px;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	max-width: 300px;
	overflow: hidden;
	.graph-text-title{
		display: block;
		color: #333333;
	}

	.graph-text-share{
		text-align: right;
		margin-top: 25px;
		span, a{
			display: inline-block;
			margin: 0 2px;
			vertical-align: middle;
		}

		img{
			width: 14px;
		}
		a{
			width: 14px;
			overflow: hidden;

			&:hover{
				opacity: 0.6;
				text-decoration: none;
			}
		}
	}
}

.graph-main{
	float: left;
}
.tab_content{
	display: none;
}

/** MAIN GRAPH
===================================*/
.questiongraph{
	color: #444f79;
	font-size: 0.9em;
	margin-bottom: 20px;
	max-width: 500px;
	overflow: hidden;
	font-weight: 700;
}
.chart {
  width: 100%;
  height: 300px;
  margin: auto 0;
  padding-top: 20px;
  display: block;
  
  .numbers {
    width: 50px; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    position: relative;
    bottom: 20px;
    
    li {
      text-align: right;
      padding-right: 1em;
      list-style: none;
      height: 29px;
      border-top: 1px solid #444;
      border-right: 1px solid #444;
      position: relative;
      font-size: 12px;
      
      &:last-child {
        height: 30px;
      }
      
      span {
        color: #444;
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
  
  .bars {
    display: inline-block;
    /*width: 600px;*/
    height: 300px;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    border-bottom: 1px solid #444;

    li {
      display: inline-block;
      width: 45px;
      height: 300px;
      margin: 0 10px;
      text-align: center;
      position: relative;
      bottom: 1px;

	    &.cornflow-blue{
	    	.bar{	
	    		background-color:#6195ED;

	    	}
	    }
	    &.cornflow{
	    	.bar{
	    			background-color: #97daeb;
	    			&:before {
	    				background-color: #97daeb;
	    			}
	    			&:after{
	    				border-top-color: #97daeb;
	    			}
	    	}
	    }
	    &.science{
	    	.bar{
	    			background-color: #0971ce;
	    			&:before {
	    				background-color: #0971ce;
	    			}
	    			&:after{
	    				border-top-color: #0971ce;
	    			}
	    	}
	    }
	    &.gray-dark{
	    	.bar{
	    			background-color: #748693;
	    			&:before {
						background-color: #748693;
	    			}
	    			&:after{
	    				border-top-color: #748693;
	    			}
	    	}
	    }
	    &.gray-lt{
	    	.bar{
	    			background-color: #bdc6c2;
	    			&:before {
						background-color: #bdc6c2;
	    			}
	    			&:after{
	    				border-top-color: #bdc6c2;
	    			}
	    	}
	    }
		&.theblue{
			.bar{
					background-color: #275598;
					&:before {
						background-color: #275598;
	    			}
	    			&:after{
	    				border-top-color: #275598;
	    			}
			}
		}
      
      .bar {
        display: block;
        width: 45px;
        background-color: #49E;
        position: absolute;
        bottom: 0;

        &:before {
            color: white;
            content: attr(data-percentage) '%';
            display: inline-block;
            position:absolute;
            left: 0;
            top: -56px;
            background-color: #49E;
			padding: 10px 9px;
			text-align: center;
			font-size: 12px;
			border-radius: 80%;
			transition : all 0.3s linear;
          }

          &:after{
          	content: '';
			position: absolute;
			top: -22px;
			left: 12px;
          	width: 0;
			height: 0;
			border-top: 10px solid #49E;
			border-left: 10px solid transparent;
          }
      
        &:hover {
          background: #5AE;
          cursor: pointer;
          

        }
      }

      span {
		color: #444;
		width: 100%;
		position: absolute;
		top: 104%;
		bottom: 0;
		left: 0;
		text-align: center;
		font-size: 11px;
		text-align: Center;
      }
    }
  }
}

